@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

.BaniereBoite {
    background-image: url(../assets/Images/baniere.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 99%;
    height: 111px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: vars.$radius-banner;


    .titre {

        background: rgba(0, 0, 0, 0.75);
        height: 100%;
        width: 100%;
        border-radius: vars.$radius-banner;
        padding-left: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;

        p {
            color: white;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            line-height: 1.1;
        }
    }


}

@include mixins.respond-up(vars.$breakpoint-desktop) {
    .BaniereBoite {
        height: 223px;

        .titre {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding-left: 0;
            text-align: center;

            p {
                margin: 0;
                font-size: 48px;
            }
        }
    }
}