// Partie Mobile - base

#root {
    max-width: 767px;
    background-color: rgb(124, 124, 224);

}


// Partie Tablette+
@media (min-width: 768px) {
    #root {
        max-width: 1023px;
        padding: 0 8% 0 8%;
        background-color: rgb(233, 169, 169);
    }

}

// Partie Ordinateur+
@media (min-width: 1024px) {
    #root {
        max-width: 100%;
        padding: 0 12% 0 12%;
        background-color: rgb(162, 232, 162);
    }
}