// Partie Mobile - base
@use './variables' as vars;
@use './mixins' as mixins;

#root {
    max-width: vars.$breakpoint-tablet - 1px;
    background-color: rgb(124, 124, 224);

    display: flex;
    flex-direction: column;
    align-items: center;
}


// Partie Tablette+
@include mixins.respond-up(vars.$breakpoint-tablet) {
    #root {
        max-width: vars.$breakpoint-desktop - 1px;
        padding: 0 8% 0 8%;
        background-color: rgb(233, 169, 169);
    }

}

// Partie Ordinateur+
@include mixins.respond-up(vars.$breakpoint-desktop) {
    #root {
        max-width: 100%;
        padding: 0 12% 0 12%;
        background-color: rgb(162, 232, 162);
    }
}